.experience {
	background-color: white;
}
body {
  background-color:#fcf8e8;
  font-family: Arial, Serif;
}

div {
  border: 2px solid black;
  border-image: : 50px;
  width: 1000px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 7px 7px 10px rgb(150, 150, 150);
  display: center;
  text-align: center;
}

img{
  border: 3px white;
  border-radius: 50%


 .Competences informatiques {
	background-color: white;
}
body {
  background-color: white;
  font-family: Arial, Serif;
}

div {
  border: 2px solid black;
  border-radius: 50px;
  width: 1000px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 7px 7px 10px rgb(150, 150, 150);
  display: center;
  text-align: center;
}

img{
  border: 3px white;
  border-radius: 50%

.langues {
	background-color: white;
}
body {
  background-color: white;
  font-family: Arial, Serif;
}

div {
  border: 2px solid black;
  border-radius: 50px;
  width: 800px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 7px 7px 10px rgb(150, 150, 150);
  display: center;
  text-align: center;
}

img{
  border: 3px white;
  border-radius: 50%

  .experience {
	background-color: white;
}
body {
  background-color: white;
  font-family: Arial, Serif;
}

div {
  border: 2px solid black;
  border-radius: 50px;
  width: 800px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 7px 7px 10px rgb(150, 150, 150);
  display: center;
  text-align: center;
}

img{
  border: 3px white;
  border-radius: 50%

  .voyage {
	background-color: white;
}
body {
  background-color:#beebe9;
  font-family: Arial, Serif;
}

div {
  border: 2px solid black;
  border-radius: 50px;
  width: 800px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 7px 7px 10px rgb(150, 150, 150);
  display: center;
  text-align: center;
}

img{
  border: 3px white;
  border-radius: 50%
